body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    flex-wrap:wrap;
    max-width: 300px;

  }
  .caja {
    width: 80px;
    height: 80px;
    background-color: #273827d0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
  }
  .caja:hover{
    background-color: rgb(30, 43, 30);
  }
  