* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: gray;
}

.section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flex-container {
    display: flex;
    background: #663399;
    padding: 15px;
    border-radius: 8px;
    justify-content: center;
}

.box {
    background: orange;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}


.row { flex-direction: row-reverse; }
.space-between { justify-content: space-between; }
.align-center { align-items: center; }
.tall { height: 80px; } 