body{
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    align-items: center;
}
.cuadro{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:  wrap;
    background-color: rgb(62, 149, 27);
    max-width: 400px;
}
.Bloque{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 10px;
    border-radius: 4px;
}