body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   margin: 0;
    
    
}
.plans {
display: flex;
gap: 20px;

}

.plan-card {
    width: 350px;
    height: 450px;
    justify-content: center;
    color: black;
    align-items: center;
    margin: 2px;
    font-size: 20px;
    border-radius: 10px;
    flex-direction: column;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 10%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
    
}
.plan-card-pro {
    width: 350px;
    height: 450px;
    justify-content: center;
    color: black;
    align-items: center;
    margin: 2px;
    font-size: 20px;
    border-radius: 10px;
    flex-direction: column;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border: 4px solid #FF8C00;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
    
}
h2 {
    text-align: center;
}
p {
    text-align: center;
    color: rgba(199, 39, 39, 0.822);
}
button {
    border-radius: 8px;
    width: 70%;
    height: 10%;
    padding: 12px 20px;
    display: block;
    margin: 0 auto;
    background-color: #FF8C00;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
   
}
.plan-card:hover {
    transform: translateY(-8px); /* Eleva la tarjeta */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
    transition: all 0.3s ease-in-out;
}
.plan-card-pro:hover {
    transform: translateY(-8px); /* Eleva la tarjeta */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
    transition: all 0.3s ease-in-out;
}
button:hover {
    box-shadow: 0 10px 25px rgba(41, 39, 39, 0.15); /* Sombra más pronunciada */
}